@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
    padding: 0;
    margin: 0;
}

hr {
    border-color: white;
}

body {
    background-color: #0D1117;
    color: #BEC6CD;
}

.titulo {
    padding-top: 30px;
}

form {
    padding-top: 50px;
}

.card-body {
    background-color: #161B22;
}

.totais {
    padding: 5px 10px;
    width: 100px;
    border-radius: 5px;
    background-color: #161B22;
    color: #4F95E5;
    font-weight: 600;
}

.letras {
    width: 300px;
    background-color: #0D1117;
    color: #BEC6CD;
}

.letras:focus {
    background-color: #0D1117;
    color: #BEC6CD;
}